{% load static %}

<div class="signup-container">
   <div class="green-background">
      <img src="{% static 'images/parent.png' %}"
           alt="Study Vai Image"
           class="background-image" />
   </div>
   <div class="content">
      <h1 class="animated-heading">Join Study Vai to activate your Children's learning</h1>
      <p>Log in to Study Vai to get started!</p>

      <h2 class="animated-subheading">Sign up</h2>
      <p>Join Study Vai for free as a</p>
      <div class="button-group">
         <button class="role-button" id="learner-btn">Learner</button>
         <button class="role-button" id="TeamLeader-btn">TeamLeader</button>
         <button class="role-button active" id="parent-btn">Parent</button>
      </div>
      <div class="signup-box" id="learner-signup">
         <div class="parent-login-options">
            <button class="login-button google">
               <img src="{% static 'images/newggl.png' %}"
                    alt="Google Logo"
                    height="50"
                    width="50" />
               Continue with Google
            </button>

            <button class="login-button apple">
               <img src="{% static 'images/newapple.png' %}"
                    alt="Apple Logo"
                    height="50"
                    width="50" />
               Continue with Apple
            </button>
            <button class="login-button email">Sign up with Email</button>
         </div>
      </div>

      <p class="login-link">
         Already have an account? <a href="{% url 'users:login' %}">Log in</a>
      </p>
   </div>
</div>
